
a:link{
    color:grey;
    font-size: 20px;
    font-weight:bold
}

body{
    
    background-image:url("https://media.contentapi.ea.com/content/dam/apex-legends/common/defiance/apex-section-bg-defiance-season-return-user-xl.jpg.adapt.1920w.jpg");
    background-repeat:no-repeat;
}
.apexlogo {
    background-color:black;
    
}
.mad-maggie{
    margin-left:175px;
    
}
p {
    margin-left:250px;
    font-size:16px
}
.playnow{
    margin-left:300px;
    display:inline-block
}
.watchnow{
    margin-left:300px;
    border-style: solid black 1px;
}
.newlegend{
    margin-left:

}
.button {
  background-color:red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}
